.footer {
  padding: rem(20) 0;
  border-top: 3px solid #1B1B1B;
  @include adaptiveClamp(margin-top, 80, 35);
  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    @include adaptiveClamp(max-width, 189, 110);
    img {
      width: 100%;
    }
  }
}
