.forms {
    @include adaptiveClamp(margin-top, 100, 50);
    &__container {
    }

    &__row {
        display: flex;
        @media(max-width:840px){
            flex-direction: column;
        }
    }

    &__body {
        flex: 0 1 48%;
        margin-right: 135px;
        @media(max-width:1254px){
            margin-right: rem(20);
        }
        @media(max-width:1125px){
            
            flex: 0 1 37%;
        }
        @media(max-width:840px){
            flex: 0 1 100%;
            margin-right: 0;
        }
    }

    &__header {
        margin-bottom: rem(48);
        @media(max-width:720px){
            margin-bottom: rem(30);
        }
        @media(max-width:480px){
            margin-bottom: rem(25);
        }
    }

    &__text {
        margin-bottom: rem(48);
        @media(max-width:720px){
            margin-bottom: rem(30);
        }
        @media(max-width:480px){
            margin-bottom: rem(25);
        }
    }

    &__form {
        flex: 0 1 52%;
        @media(max-width:1125px){
            flex: 0 1 63%;
        }
        @media(max-width:840px){
            flex: 0 1 100%;
        }
    }
}
.form {
    display: flex;
    flex-direction: column;
    
    input, textarea {
        padding: rem(27) rem(20);
        border: 2px solid #1B1B1B;
        background: $whiteColor;

        font-size: rem(20);

        margin-bottom: rem(24);

        color: #ACACAC;
        &::placeholder {
            color: #ACACAC;
        }
        
        @media(max-width:520px){
            font-size: rem(10);
            margin-bottom: rem(15);
            padding: rem(13);
        }
    }
    textarea {
        line-height: 140%;
        width: 100%;
        height: 140px;
        @media(max-width:480px){
            height: 68px;
        }
    }


    &__footer {
        display: flex;
        align-items: center;
    }

    &__radio-row {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        gap: rem(20);
        margin-right: rem(20);
        p {
            font-size: rem(20);
            @media(max-width:480px){
                font-size: rem(12);
            }
        }
        @media(max-width:520px){
            flex-direction: column;
            align-items: start;
            gap: rem(10);
        }
    }
    &__radio-item {
        display: flex;
        align-items: center;
        gap: rem(20);
        @media(max-width:520px){
            gap: rem(10);
        }
    }
    input.form__radio {
        width: 30px;
        height: 30px;
        margin: 0;
        background:$whiteColor;
        border: 1.08696px solid #1B1B1B;
        @media(max-width:520px){
            width: 16.3px;
            height: 16.3px;
        }
        cursor: pointer;
    }
    &__button {
        @include adaptiveClamp(min-width, 196, 150);
        @media(max-width:520px){
            font-size: rem(16);
            padding: rem(7);
        }
    }
}
.button {
}
