// Заголовки, общие БЄМ блоки и проче...
p {
    @include adaptiveClamp(font-size, 20, 16);
    @include adaptiveClamp(line-height, 28, 22.4);
}
h2 {
    font-family: 'Krona One';
    @include adaptiveClamp(font-size, 36, 22);
    @include adaptiveClamp(line-height, 39.6, 28.6);
}
// h1 {
//         font-family: 'Krona One';
//         @include adaptiveClamp(font-size, 36, 22);
//         @include adaptiveClamp(line-height, 39.6, 28.6);
//         text-transform: uppercase;
// }
.button {
    background: #471714;
    border: 2px solid #1B1B1B;
    color: #FAF7F2;
    font-size: 20px;
    line-height: 140%;
    font-size: rem(20);
    text-align: center;

    padding: rem(19);

    transition: all 0.3s ease  0s;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }

    @media(max-width:480px){
        font-size: rem(16);
        padding: rem(7);
    }
}